<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Muscle</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- ヘッダー -->
	<div id="header-outer"></div>
	
<!-- ナビバー -->
	<div id="navbar-outer"></div>
	
<!-- ページ -->
	<div id="page-outer"></div>
	
<!-- フッター -->
	<div id="footer-outer"></div>
	
<!-- コンテキストパス -->
	<input disabled type="hidden" id="contextPath" th:value="@{/}">

<!-- JavaScript TODO:位置変える -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script src="https://cdn.bootcss.com/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    
    <script src="js/app-common.js"></script>
    <script src="js/record-form.js"></script>
    <script src="js/record-pagination.js"></script>
    <script src="js/record-chart.js"></script>
    <script src="js/login-form.js"></script>
    <script src="js/training-menu.js"></script>
    <script type="text/javascript">
    	getTopPage()
	</script>
</body>
</html>
