<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<title>edit</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- ヘッダー -->
	<div id="header-outer"></div>
<!-- ナビバー -->
	<div id="navbar-outer"></div>
	
	<div class="container">
		<div class="row">
			<h1>トレーニング履歴編集</h1>
			<form th:action="@{/update}" method="post" class="col-sm-offset-1">
				<span>
					日時<input type="date" name="date" th:value="${date}" data-validation-error-msg-container="#date-error-dialog">
					<a th:href="@{/deleteByDate(date=${date})}"><input type="button" value="一括削除"></a>
				</span>
				<!-- サイズを取得して利用できる？ <span th:text="${trainingRecords.size()}"></span> -->
				<div id="form">
					<div class="col-sm-12" th:each="trainingRecord : ${trainingRecords}">
						<input type="hidden" name="id" th:value="${trainingRecord.id}">
						<span class="col-sm-2">
							<select name="trainingId" data-validation-error-msg-container="#trainingId-error-dialog">
								<option th:text="メニュー" value="">
								<option th:each="training : ${trainingList}" th:text="${training.trainingName}" th:value="${training.id}" th:selected="${trainingRecord.trainingId == training.id}">
							</select>
						</span>
						<span class="col-sm-2">
							<input type="text" name="weight" th:value="${trainingRecord.weight}" size="8" maxlength="6">
							&nbsp;kg&nbsp;&nbsp;☓
						</span>
						<span class="col-sm-2">
							<select name="repetition" data-validation-error-msg-container="#repetition-error-dialog">
								<option th:text="--" value="">
							</select>
							&nbsp;回&nbsp;&nbsp;☓
						</span>
						<span class="col-sm-2" style="padding:0">
							<select name="setCount" data-validation-error-msg-container="#setCount-error-dialog">
								<option th:text="--" value="">
							</select>
							&nbsp;セット
						</span>
						<span class="col-sm-1">
							<input type="button" class="removeRow" value="削除">
						</span>
					</div>
				</div>
				<input type="submit" value="更新">
				<input type="button" th:onclick="'window.location.href = \'' + @{/toRecord} + '\''" value="キャンセル">
				<input type="button" id="appendForm" value="+">
				<input type="button" id="removeForm" value="-">
			</form>
			<div id="form-outer" style="display:none"></div>
		</div>
	</div>

<!-- フッター -->
	<div id="footer-outer"></div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    
    <script src="js/record-form.js"></script>
    <script type="text/javascript">
    	loadNavbar("#record");
    	setTrainingForm("edit");
	</script>
</body>
</html>