<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>edit</title>
</head>
<body>
	<h1>トレーニング履歴編集</h1>
	<form th:action="@{/update}" method="post">
		<table border=1>
			<tr><th colspan=5>
				<span th:text="${date}"></span>
				<input type="hidden" name="date" th:value="${date}">
				<a th:href="@{/deleteByDate(date=${date})}"><input type="button" value="一括削除"></a>
			</th></tr>
			<tr><td>メニュー</td><td>ウェイト</td><td>回数</td><td>セット数</td><td></td></tr>
			<tr th:each="trainingRecord : ${trainingRecords}">
				<input type="hidden" name="id" th:value="${trainingRecord.id}">
				<td>
					<select name="trainingId">
						<option th:each="training : ${trainingList}" th:text="${training.trainingName}" th:value="${training.id}" th:selected="${trainingRecord.trainingId == training.id}">
					</select>
				</td>
				<td><input type="text" name="weight" th:value="${trainingRecord.weight}" />kg</td>
				<td><input type="text" name="repetition" th:value="${trainingRecord.repetition}" /></td>
				<td><input type="text" name="setCount" th:value="${trainingRecord.setCount}" /></td>
				<td><a th:href="@{/delete(id=${trainingRecord.id})}"><input type="button" value="削除"></a></td>
			</tr>
		</table>
		<input type="submit" value="更新">
		<input type="button" onclick="location.href='/toRecord'" value="キャンセル">
	</form>
</body>
</html>