<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<title>edit</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	
<!-- 編集フォーム -->
	<div id="edit" class="container">
		<div class="row">
			<form id="trainingForm" action="javascript:void(0)" method="post" class="col-sm-offset-1">
				<span>日時<input type="date" name="date" data-validation-error-msg-container="#date-error-dialog"></span>
				<div id="form"></div>
				<input type="submit" value="更新する" class="edit">
				<input type="button" id="cancelEdit" value="キャンセル">
				<input type="button" id="appendForm" value="+">
				<input type="button" id="removeForm" value="-">
			</form>
			<div id="form-outer" style="display:none"></div>
		</div>
	</div>

</body>
</html>