<div id="formRow">
	<div class="col-sm-12">
		<input type="hidden" name="id" value="">
		<span class="col-sm-2">
			<select name="trainingId" data-validation-error-msg-container="#trainingId-error-dialog">
				<option value="">メニュー</option>
			</select>
		</span>
		<span class="col-sm-2">
			<input type="text" name="weight" size="8" maxlength="6">
			&nbsp;kg&nbsp;&nbsp;☓
		</span>
		<span class="col-sm-2">
			<select id="repetition" name="repetition" data-validation-error-msg-container="#repetition-error-dialog">
				<option value="" selected>--</option>
			</select>
			&nbsp;回&nbsp;&nbsp;☓
		</span>
		<span class="col-sm-2" style="padding:0">
			<select id="setCount" name="setCount" data-validation-error-msg-container="#setCount-error-dialog">
				<option value="" selected>--</option>
			</select>
			&nbsp;セット
		</span>
		<span class="col-sm-1">
			<input type="button" class="removeRow" value="削除">
		</span>
	</div>
</div>
