<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>index</title>
</head>
<body>
<!-- ヘッダー作る -->
<!-- ナビバー作る -->
	<h1>トレーニング記録</h1>
	<a href="/toRecord"><input type="button" value="履歴を見る"></a>
	<br>
	<br>
	<form th:action="@{/insert}" method="post">
		<div>日時</div>
		<input type="date" name="date">
		<div>メニュー</div>
		<select name="trainingId">
			<option th:each="training : ${trainingList}" th:value="${training.id}" th:text="${training.trainingName}"/>
		</select>
		<div>ウェイト</div>
		<input type="text" name="weight">
		<div>回数</div>
		<input type="text" name="repetition">
		<div>セット数</div>
		<input type="text" name="setCount">
		<br>
		<input type="submit" value="記録する">
	</form>
<!-- フッター作る -->
</body>
</html>
