<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>index</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- ヘッダー -->
	<div id="header-outer"></div>
<!-- ナビバー -->
	<div id="navbar-outer"></div>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>トレーニング記録</h1>
				<form id="repeater" th:action="@{/insert}" method="post">
					<span>日時<input type="date" name="date" data-validation-error-msg-container="#date-error-dialog">
						<span id="date-error-dialog"></span>
					</span>
					<div id="form">
						<div>
							<select name="trainingId">
								<option th:text="メニュー" selected />
								<option th:each="training : ${trainingList}" th:text="${training.trainingName}" th:value="${training.id}">
							</select>
							<input type="text" name="weight">kg ☓
							<input type="text" name="repetition" data-validation-error-msg-container="#repetition-error-dialog">回 ☓
							<input type="text" name="setCount" data-validation-error-msg-container="#setCount-error-dialog">セット
							<input type="button" value="削除"/>
						</div>
					</div>
					<input type="submit" value="記録する">
					<input type="button" id="addForm" value="+">
				</form>
			</div>
		</div>
	</div>
	
<!-- フッター -->
	<div id="footer-outer"></div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    
    <script type="text/javascript">
		$(function(){
			$("#header-outer").load("header #header");
			$("#navbar-outer").load("navbar #navbar");
			$("#footer-outer").load("footer #footer");
		});
		$(window).load(function () {
			$("#index").attr("class", "active");
		});
		$(function(){
			var msg_required="必須入力です。";
			
			$("[name='date']").attr("data-validation", "required");
			$("[name='date']").attr("data-validation-error-msg", '日時は' + msg_required);

			$("[name='repetition']").attr("data-validation", "required");
			$("[name='repetition']").attr("data-validation-error-msg", '回数は' + msg_required);
			
			$("[name='setCount']").attr("data-validation", "required");
			$("[name='setCount']").attr("data-validation-error-msg", 'セット数は' + msg_required);

			$.validate({
			    errorMessagePosition : 'top',
			    language : {
			    	errorTitle: 'フォームの送信に失敗しました'
			    }
			});
		});
		var form = $('#form').html();
		$(function(){
			$('#addForm').click(function(){
				$('#form').append(form);
			});
		});
	</script>
</body>
</html>
