<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>record</title>
</head>
<body>
	<h1>トレーニング履歴</h1>
	<table th:each="trainingRecordsDate : ${trainingRecordsDateList}" border=1>
		<tr><th colspan=4>
				<span th:text="${trainingRecordsDate.date}"></span>
				<a th:href="@{/toEdit(date=${trainingRecordsDate.date})}"><input type="button" value="編集"></a>
		</th></tr>
		<tr><td>メニュー</td><td>ウェイト</td><td>回数</td><td>セット数</td></tr>
		<tr th:each="trainingRecord : ${trainingRecordsDate.trainingRecords}">
			<td th:text="${trainingRecord.trainingName}"/>
			<td th:text="${trainingRecord.weight}"/>
			<td th:text="${trainingRecord.repetition}"/>
			<td th:text="${trainingRecord.setCount}"/>
		</tr>
		<br>
	</table>
	<br>
	<input type="button" onclick="location.href='/'" value="戻る">
</body>
</html>