<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>trainingMenu</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- トレーニングメニュー -->
	<div id="trainingMenu" class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>トレーニングメニュー</h1>
				<div class="alert" style="display:none"></div>
				<div id="trainings_content"></div>
				<ul id="trainings_pagination" class="pagination-sm"></ul>
			</div>
		</div>
	</div>
	
</body>
</html>
